/* ~ Reset ~ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
table, caption, tbody, tfoot, thead, tr, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
/* ~ END Reset ~ */

/* ~ Custom ~ */
body {font-family: 'BNP'; background: #f5f5f5;}
/* ~ END Custom ~ */

/* ~ Grid ~ */
.esgi-grid {margin-right: -10px; margin-left: -10px; min-height: calc(100vh - 152px); height: 1px;}
.esgi-grid-cell {float: left;}
.esgi-grid-gutter {margin-right: 10px; margin-left: 10px;}
.esgi-clear {clear: both; line-height: 0;}
.esgi-grid1 {width: calc(100% / 12 * 1);}
.esgi-grid2 {width: calc(100% / 12 * 2);}
.esgi-grid3 {width: calc(100% / 12 * 3);}
.esgi-grid4 {width: calc(100% / 12 * 4);}
.esgi-grid5 {width: calc(100% / 12 * 5);}
.esgi-grid6 {width: calc(100% / 12 * 6);}
.esgi-grid7 {width: calc(100% / 12 * 7);}
.esgi-grid8 {width: calc(100% / 12 * 8);}
.esgi-grid9 {width: calc(100% / 12 * 9);}
.esgi-grid10 {width: calc(100% / 12 * 10);}
.esgi-grid11 {width: calc(100% / 12 * 11);}
.esgi-grid12 {width: calc(100% / 12 * 12);}
/* ~ END Grid ~ */

/* ~ Section ~ */
.esgi-section {width: 1240px; margin: 0 auto; text-align: left;}
/* ~ END Section ~ */

/* ~ ToolBox Elements ~ */
/*Links*/
a {text-decoration: none; color: #007ba5; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
a:hover {-webkit-transition: all 0.3s ease; opacity: 1; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}

/* Standard button */
.esgi-button {display: inline-block; padding: 18px 20px; cursor: pointer; color: #fff; font-size: 0.875rem; background: #007ba5; text-align: center; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; box-sizing: border-box;}
.esgi-button:hover {text-decoration: none;}
/* ~ END ToolBox Elements ~ */

/* ~ Styles ~ */

/* - Header - */
.esgi-logo {max-width: 115px;}
/*straightLine*/
#esgi-straightLine {background: #007ba5; width: 100%; height: 22px; margin-bottom: 16px;}
/* - END Header - */

/* - Main - */
/* app header */
#esgi-app-header {padding-top: 40px; margin-bottom: 32px;}
#esgi-app-header h1 {font-size: 1.75rem; color: #000; font-family: 'BNPBold'; margin-bottom: 24px;}
#esgi-app-header p {font-size: 1rem; color: #000; margin-bottom: 16px;}
#esgi-app-header a {position: relative; margin-bottom: 16px; display: inline-block;}
#esgi-app-header a:before {content: ""; position: absolute; background-color: #007ba5; bottom: -1px; width: 0px; height: 2px; border-radius: 5px;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}
#esgi-app-header a:hover:before {width: 100%;}

/* app content */
#esgi-app-content {padding: 40px; margin-bottom: 32px; background: #fff; border-radius: 3px;}
#esgi-app-content #esgi-app-users {width: 100%;}
#esgi-app-content #esgi-app-users th {font-size: 1.125rem; color: #000;}
#esgi-app-content #esgi-app-users td {font-size: 0.875rem; color: #424242;}
#esgi-app-content #esgi-app-users tr {border-bottom: 1px solid #424242;}
#esgi-app-content #esgi-app-users tbody tr {-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease; cursor: pointer;}
#esgi-app-content #esgi-app-users tbody tr:nth-child(even) {background: #f5f5f5;}
#esgi-app-content #esgi-app-users tbody tr:hover {background: rgba(0, 123, 165,0.2);}
#esgi-app-content #esgi-app-users tr th,
#esgi-app-content #esgi-app-users tr td {vertical-align: middle; text-align: center;}
#esgi-app-content #esgi-app-users tr th,
#esgi-app-content #esgi-app-users tr td a {padding: 16px 0 14px;}
#esgi-app-content #esgi-app-users tr td a {color: #424242; display: block;}

/* app form */
#esgi-app-form {padding: 40px; background: #fff; margin-bottom: 32px; text-align: center;}
#esgi-app-form form #esgi-form-Name,
#esgi-app-form form #esgi-form-Password,
#esgi-app-form form #esgi-form-Lastname,
#esgi-app-form form #esgi-form-E-mail,
#esgi-app-form form #esgi-form-Brithday,
#esgi-app-form form #esgi-form-favColor {height: 30px; width: 75%; min-width: 200px; padding-left: 12px; background: #f5f5f5; border: none; border-radius: 3px; outline: 0; display: block; margin: 0 auto 24px auto; box-sizing: border-box; -webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}
#esgi-app-form form #esgi-form-Name:hover,
#esgi-app-form form #esgi-form-Lastname:hover,
#esgi-app-form form #esgi-form-Password:hover,
#esgi-app-form form #esgi-form-E-mail:hover,
#esgi-app-form form #esgi-form-Brithday:hover,
#esgi-app-form form #esgi-form-favColor:hover
#esgi-app-form form #esgi-form-Name:focus,
#esgi-app-form form #esgi-form-Lastname:focus,
#esgi-app-form form #esgi-form-E-mail:focus,
#esgi-app-form form #esgi-form-Brithday:focus,
#esgi-app-form form #esgi-form-favColor:focus {-webkit-box-shadow: 0 0 5px 1px #ADADAD;box-shadow: 0 0 5px 1px #ADADAD;}
#esgi-app-form form #esgi-form-Brithday,
#esgi-app-form form #esgi-form-favColor,
#esgi-app-form form .esgi-form-Gender {cursor: pointer;}
#esgi-app-form form .esgi-form-Gender,
#esgi-app-form form label { margin: 0 auto 24px auto; display: inline-block;}
#esgi-app-form form #esgi-form-submit {border: 1px #007ba5 solid; border-radius: 3px; font-size: 1.125rem; color: #007ba5; background: #f5f5f5; padding: 8px 12px; outline: 0; cursor: pointer;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}
#esgi-app-form form #esgi-form-submit:hover { background: #007ba5; color: #f5f5f5;}

/* app user form */
#esgi-app-form.form-red {background: #fc5c65;}
#esgi-app-form.form-green {background: #26de81;}
#esgi-app-form.form-blue {background: #45aaf2;}
#esgi-app-form.form-yellow {background: #f6e58d;}
#esgi-app-form.form-orange {background: #f19066;}
#esgi-app-form.form-pink {background: #ff7979;}
#esgi-app-form.form-purple {background: #cb94df;}
#esgi-app-form.form-brown {background: #c23616;}
#esgi-app-form.form-camel {background: #f8c291;}
#esgi-app-form.form-black {background: #485460;}
#esgi-app-form.form-grey {background: #808e9b;}
#esgi-app-form.form-white {background: #d2dae2;}
#esgi-user-delete {display: block; background: #eb3b5a;font-size: 1rem;color: #f5f5f5; border: none; padding: 8px 18px; width: 75%; min-width: 200px; cursor: pointer; outline: 0; border-radius: 3px; margin: 0 auto 24px auto;}
/* - END Main - */

/* - Footer - */
#esgi-footer {width: 100%; box-sizing: border-box; padding: 8px; border-top: solid 2px #007ba5;}
#esgi-footer img {float: left;}
#esgi-footer #esgi-credits {padding-top: 16px;}
#esgi-footer #esgi-credits .esgi-slogan {float: left; margin-left: 32px; padding-left: 40px; border-left: solid 1.5px #4c4c4c;}
#esgi-footer #esgi-credits span {float: right; margin-right: 40px;}
/* - END Footer - */

/* ~ END Styles ~ */

/* ~ Responsive ~ */
@media screen and (max-width: 1260px) {
    .esgi-grid {margin-right: 0; margin-left: 0;}
}
@media screen and (max-width: 1240px) {
    .esgi-grid {min-height: calc(100vh - 169px);}
    #esgi-straightLine,
    #esgi-header,
    #esgi-footer {width: 1240px;}
    #esgi-footer .esgi-section {width: 100%;}
}

@media screen and (max-width: 1040px) {
    #esgi-straightLine,
    #esgi-header,
    #esgi-footer {width: 100%;}
    .esgi-section {width: calc(100% - 20px);}
}

@media screen and (max-width: 768px) {
    .esgi-grid {min-height: 0px; height: auto;}
    .esgi-grid-cell {float: none; height: 100%;}
    .esgi-grid-gutter {margin-right: 10px; margin-left: 10px; height: 100%;}
    .esgi-clear {clear: both; line-height: 0;}
    .esgi-grid1 {width: 100%;}
    .esgi-grid2 {width: 100%;} 
    .esgi-grid3 {width: 100%;}
    .esgi-grid4 {width: 100%;}
    .esgi-grid5 {width: 100%;}
    .esgi-grid6 {width: 100%;}
    .esgi-grid7 {width: 100%;}
    .esgi-grid8 {width: 100%;}
    .esgi-grid9 {width: 100%;}
    .esgi-grid10 {width: 100%;}
    .esgi-grid11 {width: 100%;}
    .esgi-grid12 {width: 100%;}

    .esgi-section {width: auto}

    #esgi-footer span {float: right; transform: translateY(0%); margin: 0; padding: 0; border-left: none; width: 120px; text-align: right;}
}
/* ~ END Responsive ~ */

/* ~ Fonts ~ */
@font-face {font-family: "BNP"; src: url(../fonts/BNPP\ Sans.ttf) format("truetype"); font-weight: 300; font-style: normal; font-stretch: normal;}
@font-face {font-family: "BNPBold"; src: url(../fonts/BNPP\ Sans\ Bold.ttf) format("truetype"); font-weight: 300; font-style: normal; font-stretch: normal;}
@font-face {font-family: "BNPLight"; src: url(../fonts/BNPP\ Sans\ Light.ttf) format("truetype"); font-weight: 300;font-style: normal; font-stretch: normal;}
@font-face {font-family: "icon"; src: url(../fonts/icomoon.ttf) format("truetype"); font-weight: 300;font-style: normal; font-stretch: normal;}


[class^="icon-"], [class*="icon-"]:before,[class*="icon-"]:after {font-family: 'icon' !important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;/* Better Font Rendering =========== */-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

.icon-facebook:before {
content: "\e920";
}
.icon-facebook2:before {
content: "\e922";
}
.icon-insta:before {
content: "\e925";
}
.icon-insta2:before {
content: "\e926";
}
.icon-linkdin:before {
content: "\e948";
}
.icon-linkdin2:before {
content: "\e94b";
}
.icon-twitter:before {
content: "\e94d";
}
.icon-twitter2:before {
content: "\e96b";
}
.icon-wapps:before {
content: "\e96c";
}
.icon-wapps2:before {
content: "\e97c";
}
.icon-add-location:before {
content: "\e900";
}
.icon-add-2:before {
content: "\e901";
}
.icon-add:before {
content: "\e902";
}
.icon-doc-edit:before {
content: "\e903";
}
.icon-alert:before {
content: "\e904";
}
.icon-arrow-right:before {
content: "\e905";
}
.icon-arrow-download:before {
content: "\e906";
}
.icon-arrow-left2:before {
content: "\e907";
}
.icon-arrow-right2:before {
content: "\e908";
}
.icon-Arrow-Simple-left:before {
content: "\e909";
}
.icon-Arrow-simple-rightt:before {
content: "\e90a";
}
.icon-Arrow-up:before {
content: "\e90b";
}
.icon-Arrow-turn:before {
content: "\e90c";
}
.icon-after:before {
content: "\e90d";
}
.icon-before:before {
content: "\e90e";
}
.icon-Arrow-turn2:before {
content: "\e90f";
}
.icon-arrow0:before {
content: "\e910";
}
.icon-arrow-double:before {
content: "\e911";
}
.icon-arrows-double2:before {
content: "\e912";
}
.icon-arrow-bottom:before {
content: "\e913";
}
.icon-arrow-left:before {
content: "\e914";
}
.icon-arrowright:before {
content: "\e915";
}
.icon-Arrows-2:before {
content: "\e916";
}
.icon-Arrows-3:before {
content: "\e917";
}
.icon-Arrows-4:before {
content: "\e918";
}
.icon-Arrows:before {
content: "\e919";
}
.icon-arrow-top:before {
content: "\e91a";
}
.icon-Authorization-success:before {
content: "\e91b";
}
.icon-Badge:before {
content: "\e91c";
}
.icon-Bag:before {
content: "\e91d";
}
.icon-Bank:before {
content: "\e91e";
}
.icon-Basket:before {
content: "\e91f";
}
.icon-Bluetooth:before {
content: "\e921";
}
.icon-Bookmark:before {
content: "\e923";
}
.icon-Brain:before {
content: "\e924";
}
.icon-Calculator:before {
content: "\e927";
}
.icon-calendar-1:before {
content: "\e928";
}
.icon-calendar:before {
content: "\e929";
}
.icon-cancel:before {
content: "\e92a";
}
.icon-Card:before {
content: "\e92b";
}
.icon-Cart:before {
content: "\e92c";
}
.icon-Case:before {
content: "\e92d";
}
.icon-Chart0:before {
content: "\e92e";
}
.icon-Chart1:before {
content: "\e92f";
}
.icon-Chart2:before {
content: "\e930";
}
.icon-Chart3:before {
content: "\e931";
}
.icon-Chart4:before {
content: "\e932";
}
.icon-Chart5:before {
content: "\e933";
}
.icon-Chart6:before {
content: "\e934";
}
.icon-Chart7:before {
content: "\e935";
}
.icon-Chart8:before {
content: "\e936";
}
.icon-Chart9:before {
content: "\e937";
}
.icon-Chart10:before {
content: "\e938";
}
.icon-Chart11:before {
content: "\e939";
}
.icon-Chart12:before {
content: "\e93a";
}
.icon-Chart13:before {
content: "\e93b";
}
.icon-Chart14:before {
content: "\e93c";
}
.icon-Chart15:before {
content: "\e93d";
}
.icon-Chart16:before {
content: "\e93e";
}
.icon-Check:before {
content: "\e93f";
}
.icon-Clip:before {
content: "\e940";
}
.icon-Close-2:before {
content: "\e941";
}
.icon-Close-3:before {
content: "\e942";
}
.icon-close:before {
content: "\e943";
}
.icon-Cloud_download:before {
content: "\e944";
}
.icon-Cloud_upload:before {
content: "\e945";
}
.icon-Cloud_yes:before {
content: "\e946";
}
.icon-Cloud:before {
content: "\e947";
}
.icon-Coins:before {
content: "\e949";
}
.icon-delete:before {
content: "\e94a";
}
.icon-Diagram:before {
content: "\e94c";
}
.icon-doctype:before {
content: "\e94e";
}
.icon-Document_add:before {
content: "\e94f";
}
.icon-Document_minuse:before {
content: "\e950";
}
.icon-Document_remove:before {
content: "\e951";
}
.icon-Document1:before {
content: "\e952";
}
.icon-Document2:before {
content: "\e953";
}
.icon-Dollar_bag:before {
content: "\e954";
}
.icon-Dollar-2:before {
content: "\e955";
}
.icon-Dollar-3:before {
content: "\e956";
}
.icon-Dollar:before {
content: "\e957";
}
.icon-doublearrow:before {
content: "\e958";
}
.icon-dowload:before {
content: "\e959";
}
.icon-edit-1:before {
content: "\e95a";
}
.icon-Edit-2:before {
content: "\e95b";
}
.icon-Edit:before {
content: "\e95c";
}
.icon-Euro-2:before {
content: "\e95d";
}
.icon-Euro:before {
content: "\e95e";
}
.icon-Exit_full_screen:before {
content: "\e95f";
}
.icon-favorite:before {
content: "\e960";
}
.icon-fleche-3:before {
content: "\e961";
}
.icon-fleche-4:before {
content: "\e962";
}
.icon-fleche-5:before {
content: "\e963";
}
.icon-fleche-6:before {
content: "\e964";
}
.icon-fleche-7:before {
content: "\e965";
}
.icon-fleche-8:before {
content: "\e966";
}
.icon-fleche-9:before {
content: "\e967";
}
.icon-fleche-10:before {
content: "\e968";
}
.icon-after2:before {
content: "\e969";
}
.icon-Fill-12:before {
content: "\e96a";
}
.icon-Fill-15:before {
content: "\e96d";
}
.icon-download-16:before {
content: "\e96e";
}
.icon-search3:before {
content: "\e96f";
}
.icon-search4:before {
content: "\e970";
}
.icon-search:before {
content: "\e971";
}
.icon-refresh2:before {
content: "\e972";
}
.icon-refresh3:before {
content: "\e973";
}
.icon-validate:before {
content: "\e974";
}
.icon-Fill-23:before {
content: "\e975";
}
.icon-less:before {
content: "\e976";
}
.icon-Fill-25:before {
content: "\e977";
}
.icon-bottom:before {
content: "\e978";
}
.icon-top:before {
content: "\e979";
}
.icon-right:before {
content: "\e97a";
}
.icon-left:before {
content: "\e97b";
}
.icon-top2:before {
content: "\e97d";
}
.icon-right2:before {
content: "\e97e";
}
.icon-left2:before {
content: "\e97f";
}
.icon-validate2:before {
content: "\e980";
}
.icon-stop:before {
content: "\e981";
}
.icon-less2:before {
content: "\e982";
}
.icon-Fill-37:before {
content: "\e983";
}
.icon-menu2:before {
content: "\e984";
}
.icon-validate3:before {
content: "\e985";
}
.icon-close3:before {
content: "\e986";
}
.icon-less3:before {
content: "\e987";
}
.icon-more3:before {
content: "\e988";
}
.icon-bottom3:before {
content: "\e989";
}
.icon-top3:before {
content: "\e98a";
}
.icon-right3:before {
content: "\e98b";
}
.icon-left3:before {
content: "\e98c";
}
.icon-Fill-47:before {
content: "\e98d";
}
.icon-top4:before {
content: "\e98e";
}
.icon-right4:before {
content: "\e98f";
}
.icon-left4:before {
content: "\e990";
}
.icon-size:before {
content: "\e991";
}
.icon-size2:before {
content: "\e992";
}
.icon-size3:before {
content: "\e993";
}
.icon-download3:before {
content: "\e994";
}
.icon-left5:before {
content: "\e996";
}
.icon-right5:before {
content: "\e997";
}
.icon-double:before {
content: "\e99a";
}
.icon-menu3:before {
content: "\e99b";
}
.icon-menu4:before {
content: "\e99c";
}
.icon-capture:before {
content: "\e99d";
}
.icon-cible:before {
content: "\e99e";
}
.icon-alarm2:before {
content: "\e99f";
}
.icon-Fill-67:before {
content: "\e9a0";
}
.icon-menu:before {
content: "\e9a3";
}
.icon-favoris:before {
content: "\e9a4";
}
.icon-love:before {
content: "\e9a5";
}
.icon-money2:before {
content: "\e9a6";
}
.icon-bag2:before {
content: "\e9a9";
}
.icon-shop1:before {
content: "\e9aa";
}
.icon-shop2:before {
content: "\e9ab";
}
.icon-share:before {
content: "\e9ae";
}
.icon-html:before {
content: "\e9af";
}
.icon-come-out:before {
content: "\e9b0";
}
.icon-link:before {
content: "\e9b1";
}
.icon-download5:before {
content: "\e9b2";
}
.icon-upload5:before {
content: "\e9b3";
}
.icon-chart7:before {
content: "\e9b8";
}
.icon-screen:before {
content: "\e9b9";
}
.icon-world:before {
content: "\e9ba";
}
.icon-music:before {
content: "\e9bb";
}
.icon-refresh4:before {
content: "\e9c0";
}
.icon-list:before {
content: "\e9c4";
}
.icon-pause:before {
content: "\e9c9";
}
.icon-play:before {
content: "\e9ca";
}
.icon-filtre:before {
content: "\e9cb";
}
.icon-silence:before {
content: "\e9cc";
}
.icon-speaker3:before {
content: "\e9cd";
}
.icon-speaker2:before {
content: "\e9ce";
}
.icon-speaker:before {
content: "\e9cf";
}
.icon-Fill-141:before {
content: "\e9d1";
}
.icon-desktop:before {
content: "\e9d2";
}
.icon-tablet:before {
content: "\e9d3";
}
.icon-phone:before {
content: "\e9d4";
}
.icon-screenshot:before {
content: "\e9d5";
}
.icon-map:before {
content: "\e9d6";
}
.icon-location:before {
content: "\e9d8";
}
.icon-hourglass:before {
content: "\e9d9";
}
.icon-time:before {
content: "\e9dc";
}
.icon-timer:before {
content: "\e9dd";
}
.icon-calandar:before {
content: "\e9de";
}
.icon-filter2:before {
content: "\e9e1";
}
.icon-setting:before {
content: "\e9e2";
}
.icon-tool:before {
content: "\e9e3";
}
.icon-padlock:before {
content: "\e9e4";
}
.icon-padlock2:before {
content: "\e9e5";
}
.icon-user-list:before {
content: "\e9e6";
}
.icon-user3:before {
content: "\e9e7";
}
.icon-plane:before {
content: "\e9e8";
}
.icon-Fill-179:before {
content: "\e9e9";
}
.icon-speacker:before {
content: "\e9ea";
}
.icon-vocal-stop:before {
content: "\e9eb";
}
.icon-vocal:before {
content: "\e9ec";
}
.icon-send:before {
content: "\e9ed";
}
.icon-mail:before {
content: "\e9ee";
}
.icon-card:before {
content: "\e9ef";
}
.icon-mail2:before {
content: "\e9f0";
}
.icon-bubble:before {
content: "\e9f1";
}
.icon-bubble2:before {
content: "\e9f2";
}
.icon-bubble3:before {
content: "\e9f3";
}
.icon-bubble4:before {
content: "\e9f4";
}
.icon-bubble5:before {
content: "\e9f5";
}
.icon-bubble6:before {
content: "\e9f6";
}
.icon-list2:before {
content: "\e9f7";
}
.icon-ascending:before {
content: "\e9f8";
}
.icon-descending:before {
content: "\e9f9";
}
.icon-text-left:before {
content: "\e9fa";
}
.icon-middle:before {
content: "\e9fb";
}
.icon-delete2:before {
content: "\e9fd";
}
.icon-bag3:before {
content: "\e9fe";
}
.icon-calque:before {
content: "\e9ff";
}
.icon-print2:before {
content: "\ea00";
}
.icon-calculator:before {
content: "\ea01";
}
.icon-chart16:before {
content: "\ea02";
}
.icon-diaporama:before {
content: "\ea03";
}
.icon-folder:before {
content: "\ea05";
}
.icon-letter:before {
content: "\ea06";
}
.icon-attach:before {
content: "\ea07";
}
.icon-attach2:before {
content: "\ea08";
}
.icon-pin:before {
content: "\ea09";
}
.icon-edit4:before {
content: "\ea0b";
}
.icon-edite5:before {
content: "\ea0c";
}
.icon-list4:before {
content: "\ea0d";
}
.icon-Filter-2:before {
content: "\ea0e";
}
.icon-Filter:before {
content: "\ea0f";
}
.icon-Finger_print:before {
content: "\ea10";
}
.icon-Flag:before {
content: "\ea11";
}
.icon-fleche1:before {
content: "\ea12";
}
.icon-fleche2:before {
content: "\ea13";
}
.icon-fleche3:before {
content: "\ea14";
}
.icon-fleche4:before {
content: "\ea15";
}
.icon-Folder_add:before {
content: "\ea16";
}
.icon-Folder_delete:before {
content: "\ea17";
}
.icon-Folder_minus:before {
content: "\ea18";
}
.icon-Folder:before {
content: "\ea19";
}
.icon-Full_screen:before {
content: "\ea1a";
}
.icon-guidbook:before {
content: "\ea1d";
}
.icon-Help:before {
content: "\ea1e";
}
.icon-history:before {
content: "\ea1f";
}
.icon-home-1:before {
content: "\ea20";
}
.icon-Home:before {
content: "\ea21";
}
.icon-icon_112:before {
content: "\ea22";
}
.icon-chart17:before {
content: "\ea23";
}
.icon-bubble7:before {
content: "\ea24";
}
.icon-icon:before {
content: "\ea25";
}
.icon-Idea:before {
content: "\ea26";
}
.icon-Image:before {
content: "\ea27";
}
.icon-Important:before {
content: "\ea28";
}
.icon-Increase:before {
content: "\ea29";
}
.icon-information:before {
content: "\ea2b";
}
.icon-Instagram:before {
content: "\ea2c";
}
.icon-Key:before {
content: "\ea2d";
}
.icon-Language:before {
content: "\ea2e";
}
.icon-Laptop:before {
content: "\ea2f";
}
.icon-Lightning:before {
content: "\ea30";
}
.icon-Like-2:before {
content: "\ea31";
}
.icon-Like-3:before {
content: "\ea32";
}
.icon-Like:before {
content: "\ea33";
}
.icon-Link:before {
content: "\ea34";
}
.icon-List:before {
content: "\ea35";
}
.icon-Loading:before {
content: "\ea36";
}
.icon-Location_add:before {
content: "\ea37";
}
.icon-Location_minus:before {
content: "\ea38";
}
.icon-Location:before {
content: "\ea39";
}
.icon-Locked:before {
content: "\ea3a";
}
.icon-Mail:before {
content: "\ea3b";
}
.icon-Map:before {
content: "\ea3c";
}
.icon-Menu-2:before {
content: "\ea3d";
}
.icon-Menu:before {
content: "\ea3e";
}
.icon-Mobile:before {
content: "\ea3f";
}
.icon-Money_box:before {
content: "\ea40";
}
.icon-money:before {
content: "\ea41";
}
.icon-more:before {
content: "\ea42";
}
.icon-more2 .path1:before {
content: "\ea43";
color: rgb(0, 0, 0);
}
.icon-more2 .path2:before {
content: "\ea44";
margin-left: -1em;
color: rgb(255, 255, 255);
}
.icon-Mouse:before {
content: "\ea45";
}
.icon-Navigation:before {
content: "\ea46";
}
.icon-Notification:before {
content: "\ea47";
}
.icon-off:before {
content: "\ea48";
}
.icon-pdf-1:before {
content: "\ea49";
}
.icon-pdf .path1:before {
content: "\ea4a";
color: rgb(226, 229, 231);
}
.icon-pdf .path2:before {
content: "\ea4b";
margin-left: -1em;
color: rgb(176, 183, 189);
}
.icon-pdf .path3:before {
content: "\ea4c";
margin-left: -1em;
color: rgb(202, 209, 216);
}
.icon-pdf .path4:before {
content: "\ea4d";
margin-left: -1em;
color: rgb(241, 86, 66);
}
.icon-pdf .path5:before {
content: "\ea4e";
margin-left: -1em;
color: rgb(255, 255, 255);
}
.icon-pdf .path6:before {
content: "\ea4f";
margin-left: -1em;
color: rgb(255, 255, 255);
}
.icon-pdf .path7:before {
content: "\ea50";
margin-left: -1em;
color: rgb(255, 255, 255);
}
.icon-pdf .path8:before {
content: "\ea51";
margin-left: -1em;
color: rgb(202, 209, 216);
}
.icon-Play:before {
content: "\ea52";
}
.icon-powerpoint .path1:before {
content: "\ea53";
color: rgb(236, 239, 241);
}
.icon-powerpoint .path2:before {
content: "\ea54";
margin-left: -1em;
color: rgb(245, 124, 0);
}
.icon-powerpoint .path3:before {
content: "\ea55";
margin-left: -1em;
color: rgb(245, 124, 0);
}
.icon-powerpoint .path4:before {
content: "\ea56";
margin-left: -1em;
color: rgb(245, 124, 0);
}
.icon-powerpoint .path5:before {
content: "\ea57";
margin-left: -1em;
color: rgb(239, 108, 0);
}
.icon-powerpoint .path6:before {
content: "\ea58";
margin-left: -1em;
color: rgb(250, 250, 250);
}
.icon-print:before {
content: "\ea59";
}
.icon-print3:before {
content: "\ea5a";
}
.icon-properties:before {
content: "\ea5b";
}
.icon-quote2:before {
content: "\ea5c";
}
.icon-quote3:before {
content: "\ea5d";
}
.icon-Reduce:before {
content: "\ea5e";
}
.icon-refresh:before {
content: "\ea5f";
}
.icon-refreshh:before {
content: "\ea60";
}
.icon-Reload:before {
content: "\ea61";
}
.icon-Safe:before {
content: "\ea62";
}
.icon-save:before {
content: "\ea63";
}
.icon-Search:before {
content: "\ea64";
}
.icon-Security_announcement:before {
content: "\ea65";
}
.icon-Security_check:before {
content: "\ea66";
}
.icon-Security_close:before {
content: "\ea67";
}
.icon-Security_download:before {
content: "\ea68";
}
.icon-Security_prohibition:before {
content: "\ea69";
}
.icon-Security_questions:before {
content: "\ea6a";
}
.icon-Security_settings:before {
content: "\ea6b";
}
.icon-Security_upload:before {
content: "\ea6c";
}
.icon-Security_view:before {
content: "\ea6d";
}
.icon-Send:before {
content: "\ea6e";
}
.icon-Server-2:before {
content: "\ea6f";
}
.icon-Server:before {
content: "\ea70";
}
.icon-Settings-2:before {
content: "\ea71";
}
.icon-Settings:before {
content: "\ea72";
}
.icon-Share-2:before {
content: "\ea73";
}
.icon-Share-3:before {
content: "\ea74";
}
.icon-speaker6:before {
content: "\ea75";
}
.icon-Smile:before {
content: "\ea76";
}
.icon-Star:before {
content: "\ea77";
}
.icon-Take_off:before {
content: "\ea78";
}
.icon-Target-2:before {
content: "\ea79";
}
.icon-Target-3:before {
content: "\ea7a";
}
.icon-Target:before {
content: "\ea7b";
}
.icon-Time-2:before {
content: "\ea7c";
}
.icon-Time:before {
content: "\ea7d";
}
.icon-Trash:before {
content: "\ea7e";
}
.icon-Unlocked:before {
content: "\ea7f";
}
.icon-upload-1:before {
content: "\ea80";
}
.icon-Upload:before {
content: "\ea81";
}
.icon-url:before {
content: "\ea82";
}
.icon-User-2:before {
content: "\ea83";
}
.icon-User:before {
content: "\ea84";
}
.icon-user1 .path1:before {
content: "\ea85";
color: rgb(55, 55, 55);
}
.icon-user1 .path2:before {
content: "\ea86";
margin-left: -1em;
color: rgb(168, 168, 168);
}
.icon-usersetting:before {
content: "\ea87";
}
.icon-Utube:before {
content: "\ea88";
}
.icon-Vector:before {
content: "\ea89";
}
.icon-verrou:before {
content: "\ea8a";
}
.icon-View-2:before {
content: "\ea8b";
}
.icon-View-3:before {
content: "\ea8c";
}
.icon-View:before {
content: "\ea8d";
}
.icon-Wallet:before {
content: "\ea8e";
}
.icon-word .path1:before {
content: "\ea90";
color: rgb(236, 239, 241);
}
.icon-word .path2:before {
content: "\ea91";
margin-left: -1em;
color: rgb(25, 118, 210);
}
.icon-word .path3:before {
content: "\ea92";
margin-left: -1em;
color: rgb(25, 118, 210);
}
.icon-word .path4:before {
content: "\ea93";
margin-left: -1em;
color: rgb(25, 118, 210);
}
.icon-word .path5:before {
content: "\ea94";
margin-left: -1em;
color: rgb(25, 118, 210);
}
.icon-word .path6:before {
content: "\ea95";
margin-left: -1em;
color: rgb(21, 101, 192);
}
.icon-word .path7:before {
content: "\ea96";
margin-left: -1em;
color: rgb(250, 250, 250);
}
.icon-zip:before {
content: "\ea97";
}
  /* ~ END Fonts ~ */